

.categorias .listaCategorias {
    list-style: none;
}

.categorias {
    display: flex;
    flex-direction: column;
}



.categorias .listaCategorias li{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}


















