

.categorias .listaCategorias {
    list-style: none;
}
.categorias .listaCategorias li::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}


















