html, body {
    width: 100%;
    height: 100%;

}

body{
    display: grid;
    grid-template-columns: 6% 62% 32%;
    grid-template-rows: 15% 30% 50%;
    margin: 0;
}


/*-------------------------------- Secciones -------------------------------------------*/


section {
    border: 5px solid black;
}

/*---------------------------------------------------*/
.opciones{
    grid-row: 2/-1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    
}

.opciones button{
    margin: 15%;
    padding: 20%;
    background: none;
    border: 1% solid black;
    border-radius: 10px;
}

/*---------------------------------------------------*/

/*---------------------------------------------------*/
.titulo {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: black;
}

.titulo h1 {
    margin-left: 2%;
    margin-top: 2.3%;
    color: white;
}

/*---------------------------------------------------*/


/*---------------------------------------------------*/
.datosTotales{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    gap: 5%;
    align-items: center;
}

.datosTotales div {
    border: 2px solid grey;
    flex: 1;
    text-align: center;
}

.datosTotales div h3{
    color: white;
    background-color: black;
    margin: 0;
}


/*---------------------------------------------------*/


/*---------------------------------------------------*/
.listaGastos {
    grid-row: 3;
    grid-column: 2;
}

.listaGastos ul{
    list-style-type: none;
    padding: 0;
    width: 99%;
    height: 95%;
    overflow: auto;
}

.listaGastos ul > li{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.listaGastos .listaTotal {
    width: 99%;
    height: 80%;
}

.listaGastos .opcB {
    width: 99%;
    height: 10%;
}

.listaGastos .opcB button{
    width: 30%;
    height: 90%;
    margin: 1cap;
}
/*---------------------------------------------------*/


/*---------------------------------------------------*/
.categorias {
    grid-row: 2/-1;
    grid-column: 3;
}
/*---------------------------------------------------*/

.menuIngreso {
    width: 40cap;
    height: 40cap;
}

.menuIngreso input{
    width: 99%;
    height: 10cap;
}

.menuIngreso button{
    width: 20cap;
    height: 10cap;
}

.menuIngreso .view {
    border: 1px solid red;
    background-color: rgb(255, 170, 170);
    color: red;
    border-radius: 10px;
}

.menuIngreso .hide{
    display: none;
}

.menuIngreso .catCompras {
    width: 50%;
    height: 15%;
    font-size: larger;
}

.menuGasto {
    width: 40cap;
    height: 40cap;
}

.menuGasto input{
    width: 99%;
    height: 10cap;
}

.menuGasto button{
    width: 20cap;
    height: 10cap;
}

.menuGasto.view {
    border: 1px solid red;
    background-color: rgb(255, 170, 170);
    color: red;
    border-radius: 10px;
}

.menuGasto .hide{
    display: none;
}

.menuGasto .catCompras {
    width: 50%;
    height: 10%;
    font-size: larger;
}



